<h2>Log In</h2>
<%= form_for :session, url: login_path, :html => {class: "profile-form"} do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, required: true  %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password, required: true %>
  <br>

  <%= f.submit "Login",  class: "wave-effect waves-light btn" %>
<% end  %>

<div class="row">
  <div class="col s12">
    Don't have an account? <%= link_to "Create One Now!", sign_up_path %>
  </div>
</div>
