<div class="container">
  <header class="row">
    <div class="col s12 m12 l12 left-align">
      <%= link_to "< Back to Carpentry", root_path %>
    </div>
  </header>
  <section class="row">
    <div class="col s12 m4 l4">
      <div id="google-map">
        <%= image_tag "http://placehold.it/400x400"%>
      </div>
    </div>
    <div class="col s12 m8 l8">
      <div class="row valign-wrapper no-bottom-margin">
        <h5 class="col s10 m10 l10">
          <a href="#" class="job-title-link">Build A Dining Room Table</a>
        </h5>
        <div class="col s2 m2 l2 center-align duration-estimate-medium valign">
          Medium
        </div>
      </div>
        <p class="row">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
        </p>
        <div class="row center-align">
          <div class="col s12 m2 l2 job-info">
            5 bids
          </div>
          <div class="col s12 m4 l4 job-info">
            Bid Range: $500 - $700
          </div>
          <div class="col s12 m2 l2 job-info">
            Must Be Completed By: March 20, 2016
          </div>
          <div class="col s12 m4 l4 job-info">
            Bidding Ends: March 8, 2016 5:00pm
          </div>
        </div>
    </div>
  </section>
  <div class="row left-align">
   <div class="col s12 m12 l12">
     <div class="card">
       <div class="card-content">
         <span class="card-title">Place A Bid</span>
         <div class="row">
           <%= form_for(:bid, url: bids_path) do |f| %>
              <div class="col s3">
                <%= f.label "Toni Rib" %>
              </div>

              <div class="col s3">
                <%= f.number_field :price, placeholder: :price %>
              </div>

              <div class="col s3">
                <%= f.number_field :duration_estimate, placeholder: "Duration Estimate" %>
                <%= select_tag :time_interval, options_for_select(%w(days hours weeks)) %>
              </div>
           <% end %>
         </div>
       </div>
     </div>
   </div>
 </div>
  <section class="row">

  </section>
  <section class="row">

  </section>
</div>
