<section class="row" id="current-bids">
  <h4 class="bids-table-title">Current Bids</h4>
  <table class="striped responsive">
    <thead>
      <tr>
        <th>Bidder Name</th>
        <th>Price</th>
        <th>Duration Estimate</th>
        <th>Comment</th>
        <th>
          <%= job.bid_action_header %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% job.bids.each do |bid| %>
        <tr>
          <td><%= link_to bid.user.full_name, user_path(bid.user) %></td>
          <td>$<%= bid.price %></td>
          <td><%= pluralize(bid.duration_estimate, "day") %></td>
          <td><%= bid.details %></td>
          <td class="bid-status">
            <%= job.bid_status_or_accept_bid_link(bid) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
