<section class="row" id="current-bids">
  <h4 class="bids-table-title">Current Bids</h4>
  <table class="striped responsive">
    <thead>
      <tr>
        <th>Bidder Name</th>
        <th>Price</th>
        <th>Duration Estimate</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% bids.each do |bid| %>
        <tr>
          <td><%= link_to bid.user.full_name, user_path(bid.user) %></td>
          <td>$<%= bid.price %></td>
          <td><%= bid.duration_estimate %> days</td>
          <td><%= bid.details %></td>
          <td>
            <% if @job.bidding_closed? %>
              <%= link_to "Accept", user_job_bid_path(bid.user, bid.job, bid, status: 1), method: :put %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
