<div id="accordion">
  <h3 class="my-bid"><i class="material-icons arrow-icon">navigation</i>View My Bid<i class="material-icons arrow-icon">navigation</i></h3>
  <div>
    <div class="row no-bottom-margin bid-accordion">
      <%= form_for(:bid, url: bid_path(@job.my_bid(current_user.id).id), method: :put) do |f| %>
        <%= hidden_field_tag :job_id, @job.id %>
        <div class="row valign-wrapper">
          <div class="col s12 m4 valign">
            <%= f.label current_user.full_name, class: "bidder-name" %>
          </div>
          <div class="col s12 m3 bid-input-field valign">
            <%= f.number_field :price, min: 1, value: @job.my_bid(current_user.id).price %>
          </div>
          <div class="col s7 m3 bid-input-field valign">
            <%= f.number_field :duration_estimate, min: 1, value: @job.my_bid(current_user.id).duration_estimate %>
          </div>
          <div class="col s5 m2 bid-input-field valign">
            <%= label_tag :days %>
          </div>
        </div>
        <div class="row no-bottom-margin center-align valign-wrapper">
          <div class="col s12 m8 valign">
            <%= f.text_area :details, value: @job.my_bid(current_user.id).details,
                                      class: "bid-comment" %>
          </div>
          <div class="col s12 m4 valign">
            <%= f.submit "Update Bid", class: "btn update-bid-btn valign" %>
            <%= link_to "Delete Bid", bid_path(@job.my_bid(current_user.id)),
                                      method: :delete, class: "btn btn-delete valign" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
