<div class="container">
  <header class="row">
    <div class="col s12 m12 l12 left-align">
      <%= link_to "« Back to Carpentry", category_path("carpentry"), class: "back-to-category-link" %>
    </div>
  </header>

  <%= render partial: "job_details", locals: { job: @job } %>

  <div class="row left-align">
    <div class="col s12 m12 l12">
      <% if logged_in? %>
        <%= render partial: "bid_accordion" %>
      <% else %>
        <div class="log-in-to-bid">
          <%= link_to "Log In To Place A Bid", login_path %>
        </div>
      <% end %>
    </div>
  </div>
  <section class="row" style="display:none;">
    <!-- ^^^ REMOVE DISPLAY NONE FROM HERE IN THE FUTURE ^^^ -->
    <h4 class="bids-table-title">Current Bids</h4>
    <table class="striped responsive">
      <thead>
        <tr>
          <th>Bidder Name</th>
          <th>Price</th>
          <th>Duration Estimate</th>
          <th>Comment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Toni Rib</td>
          <td>$500</td>
          <td>2 weeks</td>
          <td>I can totally build this table because I am super awesome!</td>
          <td>
            <a href="#" class="action-link">Edit</a> |
            <a href="#" class="action-link">Delete</a>
          </td>
        </tr>
        <tr>
          <td>Aaron Greenspan</td>
          <td>$700</td>
          <td>1 week</td>
          <td>I am an expert craftsman and I will build you a beautiul oak table in no time at all.</td>
          <td><a href=# class="action-link">Accept</a></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="row left-align job-lister-details card">
    <div class="row card-title">
      <div class="col s12 m12 l12">
        <h4 class="job-lister-title">Job Lister</h4>
        <hr>
      </div>
    </div>
    <div class="col s12 m2">
      <%= image_tag "http://placehold.it/100x100", class: "circle" %>
    </div>
    <div class="col s12 m10">
      <div class="row">
        <div class="col s12">
          <h5><%= link_to @user.full_name, @user,
                  class: "job-lister-name-link" %>
              <span class="lister-rating">(5 / 5)</span>
          </h5>
        </div>
      </div>
      <div class="row lister-info">
        <div class="col s12 m3">
          6 Active Jobs
        </div>
        <div class="col s12 m3">
          3 Completed Jobs
        </div>
        <div class="col s12 m6">
          Active Since June 2013
        </div>
      </div>
    </div>
  </section>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript">
  $( "#accordion" ).accordion({
    animate: 200,
    active: false,
    collapsible: true,
    heightStyle: "content",
    autoHeight: false
  });
</script>
