<div class="row">
  <div class="col s12 m12">
    <div class="card-panel blue-grey lighten-5">
      <div class="card-title order-card-title"><a href="/users/<%= current_user.slug %>/orders/<%= order.id %>">Order ID: <%= order.id %></a></div>

      <div class="card-content order_card_content">
        <div class="row order-details-top larger-text">
          <div class="col s4"><span class="order-heading">Ordered:</span> <%= order.date %></div>
          <div class="col s4"><span class="order-heading">Status:</span><span class="status_<%= order.status %>"> <%= order.status.capitalize %></span></div>
          <div class="col s4"><span class="order-heading">Total:</span> $<%= order.total %></div>
        </div> <!-- row -->

          <div class="items">
            <% order.items.each do |item| %>
              <div class="row">
                <div class="order-image col s12 m5">
                  <% if item.file_upload-file_name.nil? %>
                    <%= image_tag item.image_path, class: "img-small" %>
                  <% elsif item.file_upload-file_name %>
                    <%= image_tag item.file_upload.url(:medium) %>
                  <% end %>
                </div>
                <div class="order-data col s12 m7 larger-text">
                  <p><span class="order-heading">Item Title:</span><%= link_to item.title, item_path(item) %></p>
                  <p><span class="order-heading">Price:</span> $<%= item.price %></p>
                  <p><span class="order-heading">Quantity:</span> <%= order.quantity_of_item(item.id) %></p>
                  <p><span class="order-heading">Subtotal:</span> $<%= item.price * order.quantity_of_item(item.id) %></p>
                </div>
              </div> <!-- row -->
            <% end %> <!--order-data-->
          </div> <!--items-->
        <div class="row order-details-top">
        </div>
        <div>
          <h2>Shipping Info</h2>
          <div class="row larger-text">
            <p><span class="order-heading">Name:</span><%= order.user.first_name + " " +  order.user.last_name %></p>
            <p><span class="order-heading">Email:</span><%= order.user.email_address%></p>
            <p><span class="order-heading">Street Address:</span><%= order.user.street_address %></p>
            <p><span class="order-heading">City:</span><%= order.user.city %></p>
            <p><span class="order-heading">State:</span><%= order.user.state %></p>
            <p><span class="order-heading">Zipcode:</span><%= order.user.zipcode %></p>
          </div>
        </div>
      </div> <!--card-content-->
    </div> <!-- card-panel -->
  </div><!-- col s12 -->
</div> <!--row-->
