<%= form_for @user, :html => { class: "profile-form" } do |f| %>
  <%= render partial: "shared/errors", locals: { target: @user } %>

  <div class="row">
    <div class="col s12 m12 l6">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, required: true %>
    </div>
    <div class="col s12 m12 l6">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l6">
        <%= f.label :username %>
      <% if current_user %>
        <%= f.text_field :username, disabled: true  %>
      <% else %>
        <%= f.text_field :username, required: true  %>
      <% end %>
    </div>
    <div class="col s12 m12 l6">
      <%= f.label :email_address %>
      <%= f.text_field :email_address, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.label :street_address %>
      <%= f.text_field :street_address, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l6">
      <%= f.label :city %>
      <%= f.text_field :city, required: true %>
    </div>
    <div class="col s12 m12 l6">
      <%= f.label :state %>
      <% if current_user %>
        <%= f.select(:state, options_for_select(us_states, current_user.state)) %>
      <% else %>
        <%= f.select(:state, options_for_select(us_states)) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 user-photo-section">
      <%= f.label "Upload User Photo" %>
      <br>
      <%= f.file_field :file_upload, class: "grey-text" %>
      <br>
      <span class="red-text">OR</span>
      <br>
      <%= f.label "Specify Image Path" %>
      <%= f.text_field :image_path %>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.label :bio %>
      <%= f.text_area :bio, required: true, class: "user-bio",
                            minlength: 35, maxlength: 600 %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: true %>
    </div>
  </div>

  <%= hidden_field_tag "provider", (@provider || nil) %>
  <%= hidden_field_tag "uid", (@uid || nil)  %>

  <div class="row">
    <div class="col s12">
      <% if current_platform_admin? %>
        <%= f.label :role %>
        <%= f.select :role, options_for_select(["contractor", "lister", "platform_admin"], selected: "platform_admin") %>
        <br>
      <% elsif current_lister? %>
        <%= f.label :role %>
        <%= f.select :role, options_for_select(["lister"], selected: "lister") %>
        <br>
      <% elsif current_user %>
        <%= f.label :role %>
        <%= f.select :role, options_for_select(["contractor", "lister"], selected: current_user.role) %>
        <br>
      <% else %>
        <%= f.label :role %>
        <%= f.select :role, options_for_select(["contractor", "lister"]) %>
        <br>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.submit class: "wave-effect waves-light btn" %>
    </div>
  </div>
<% end  %>
