<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="dashboard-title">My Dashboard</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="row valign-wrapper user-dashboard-info">
          <div class="col s12 m12 l6">
            <div class="row dashboard-user-image circle">
              <%= image_tag @user.file_upload.url, class: "circle" %>
            </div>
            <div class="row no-bottom-margin">
              <h4><%= @user.full_name %></h4>
            </div>
            <div class="row no-bottom-margin">
              <p class="dashboard-email">
                <a href="mailto:<%= @user.email_address %>"><%= @user.email_address %></a>
              </p>
            </div>
            <div class="row">
              <p>
                <%= @user.full_address %>
              </p>
            </div>
          </div>
          <div class="col s12 m12 l6">
            <div class="row valign">
              <div class="col s12">
                <p class="bio">
                  <%= @user.bio %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="links">
      <% if current_lister? || current_platform_admin? %>
        <%= render "lister_dashboard_links" %>
      <% else %>
        <%= render "contractor_dashboard_links" %>
      <% end %>
    </div>
  </div>
  <div class="row tab-border">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active dashboard-tab" href="#my-bids">My Bids</a></li>
        <% unless current_contractor? %>
          <li class="tab col s3"><a href="#my-listings">My Listings</a></li>
        <% end %>
        <div class="indicator blue" style="z-index:1"></div>
      </ul>
    </div>
    <!-- Start of My Bids Tab -->
    <% if @user.has_bids? %>
      <%= render "bid_table" %>
    <% else %>
      <div class="no-bids">
        <p>
          You have not bid on any jobs yet.
        </p>
      </div>
    <% end %>
    <!--  End of My Bids Tab -->

    <!-- Start of My Listing Tab -->
    <% unless current_contractor? %>
      <% if @user.has_jobs? %>
        <%= render "listing_table" %>
      <% else %>
        <div class="no-listings">
          <p>
            You have not listed any jobs yet.
          </p>
        </div>
      <% end %>
    <% end %>
    <!-- End of My Listing Tab -->
  </div>
</div>
