<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="dashboard-title">My Dashboard</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= @user.feedback_required_accordion %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="row valign-wrapper user-dashboard-info">
          <div class="col s12 m12 l6">
            <div class="row dashboard-user-image circle">
              <%= image_tag user_picture(@user.model, :medium), class: "circle" %>
            </div>
            <div class="row no-bottom-margin">
              <h4><%= @user.full_name %></h4>
            </div>
            <div class="row no-bottom-margin">
              <p class="dashboard-email">
                <a href="mailto:<%= @user.email_address %>"><%= @user.email_address %></a>
              </p>
            </div>
            <div class="row">
              <p class="flow-text user-address">
                <%= @user.full_address %>
              </p>
            </div>
          </div>
          <div class="col s12 m12 l6">
            <div class="row valign">
              <div class="col s12">
                <p class="bio">
                  <%= @user.bio %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="links">
      <%= @user.dashboard_links %>
    </div>
  </div>
  <div class="row tab-border">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="dashboard-tab" href="#my-bids">My Bids</a></li>
        <%= @user.listings_tab_header %>
        <div class="indicator blue" style="z-index:1"></div>
      </ul>
    </div>
    <div id="my-bids" class="col s12 tab-content">
      <%= @user.display_bids_table %>
    </div>

    <div id="my-listings" class="col s12">
      <%= @user.display_listing_table %>
    </div>
  </div>
</div>

<%= render partial: "user/jobs/accordion_javascript" %>
