<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="dashboard-title">My Dashboard</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="row valign-wrapper">
          <div class="col s12 m12 l6">
            <div class="row job-lister-image">
              <%= image_tag "http://placehold.it/200x200", class: "circle" %>
            </div>
            <div class="row no-bottom-margin">
              <h4>Dan Winter</h4>
            </div>
            <div class="row no-bottom-margin">
              <p class="dashboard-email">
                <a href="mail-to:example@example.com">dan.j.winter@example.com</a>
              </p>
            </div>
            <div class="row">
              <p>
                1510 Blake St. Denver, CO 80225
              </p>
            </div>
          </div>
          <div class="col s12 m12 l6">
            <div class="row valign">
              <div class="col s12">
                <p class="bio">
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampd source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-bottom-margin">
      <div class="col s12 m4 l4">
        <div class="user-action-links">
          <%= link_to "Create Job", "#" %>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="user-action-links">
          <%= link_to "Edit Profile", "#" %>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="user-action-links">
          <%= link_to "Public Profile", "/users/dan_user" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row tab-border">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active dashboard-tab" href="#my-bids">My Bids</a></li>
        <li class="tab col s3"><a href="#my-listings">My Listings</a></li>
        <div class="indicator blue" style="z-index:1"></div>
      </ul>
    </div>
    <!-- Start of My Bids Tab -->
    <div id="my-bids" class="col s12 tab-content">
      <div class="row">
        <div class="filter">
          <label class="filter-label">Filter By Bid Status</label>
          <%= select_tag :bid_status, options_for_select(%w(all accepted pending rejected)) %>
        </div>
      </div>
      <table class="bordered responsive-table">
        <thead class="dashboard-table-headers">
          <tr>
            <th>Job ID</th>
            <th>Name</th>
            <th>Bid Status</th>
            <th>Job Listing Expiration Date</th>
            <th>Bid Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bid">
            <td><%= link_to "12433", "#" %></td>
            <td><%= link_to "Build a Dining Room Table", "#" %></td>
            <td class="bid-status status-pending">pending</td>
            <td>February 13, 2016 5:00 PM</td>
            <td>$500</td>
          </tr>
          <tr class="bid">
            <td><%= link_to "12433", "#" %></td>
            <td><%= link_to "Build a Dining Room Table", "#" %></td>
            <td class="bid-status status-accepted">accepted</td>
            <td>February 13, 2016 7:00 PM</td>
            <td>$2500</td>
          </tr>
        </tbody>
      </table>

    </div>
    <!--  End of My Bids Tab -->

    <!-- Start of My Listing Tab -->
    <div id="my-listings" class="col s12">
      <div class="row">
        <div class="filter">
          <label class="filter-label">Filter By Job Status</label>
          <%= select_tag :job_status, options_for_select(["all",
                                                          "bidding open",
                                                          "bidding closed",
                                                          "in progress",
                                                          "completed",
                                                          "cancelled"]) %>
        </div>
      </div>
      <table class="bordered responsive-table">
        <thead class="dashboard-table-headers">
          <tr>
            <th>Job ID</th>
            <th>Name</th>
            <th>Job Status</th>
            <th>Listing Expiration Date</th>
            <th>Bids</th>
            <th>Bid Range</th>
            <th>Actions</th>
            <th>Contractor Name</th>
          </tr>
        </thead>
        <tbody>
          <tr class="listing">
            <td><%= link_to "12433", "#" %></td>
            <td><%= link_to "Build a Dining Room Table", "#" %></td>
            <td class="job-status status-pending">bidding open</td>
            <td>February 13, 2016 5:00 PM</td>
            <td>13</td>
            <td>$200-$450</td>
            <td>Cancel</td>
            <td></td>
          </tr>
          <tr class="listing">
            <td><%= link_to "12432", "#" %></td>
            <td><%= link_to "Build A Large Multi-Room Doghouse", "#" %></td>
            <td class="job-status status-accepted">completed</td>
            <td>February 13, 2016 7:00 PM</td>
            <td>13</td>
            <td>$200-$450</td>
            <td>Leave Feedback</td>
            <td>Toni Rib</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- End of My Listing Tab -->
  </div>
</div>
