<div class="container">
  <div class="row valign-wrapper">
    <div class="col s12 m12 l4">
      <div class="row job-lister-image valign">
        <%= image_tag @user.file_upload.url(:thumb), class: "circle"%>
      </div>
    </div>
    <div class="col s12 m12 l8">
      <div class="row no-bottom-margin">
        <h2><%= @user.full_name %></h2>
      </div>
      <div class="row">
        <p class="profile-email"><a href="mailto:toni@example.com"><%= @user.email_address %></a></p>
      </div>
      <div class="row no-bottom-margin">
        <div class="col s12 m6 l6">
          <h5><%= @user.location %></h5>
        </div>
        <div class="col s12 m6 l6">
          <h5><%= @user.rating %></h5>
        </div>
      </div>
      <div class="row">
        <p class="bio no-top-margin profile-bio"><%= @user.bio %></p>
      </div>
    </div>
  </div>
  <div class="row no-bottom-margin">
    <h3 class="comments-label">Comments</h3>
  </div>
  <div class="row tab-border">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active profile-tab" href="#previous-jobs">Previous Jobs</a></li>
        <li class="tab col s3"><a href="#previous-listings">Previous Listings</a></li>
        <div class="indicator blue" style="z-index:1"></div>
      </ul>
    </div>
    <!-- Start of My Bids Tab -->
    <div id="previous-jobs" class="col s12 tab-content">
      <% @user.received_comments.each do |comment| %>
        <%= render partial: "previous_job", locals: { comment: comment } %>
      <% end %>
    </div>
    <!--  End of My Listings Tab -->
    <div id="previous-listings" class="col s12">
      <!-- Start of card -->
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card">
              <div class="card-content">
                <div class="row valign-wrapper">
                  <h5 class="col s12 m8 l10 left-align job-title comment-job-title">
                    Build A Super Amazing Rocking Chair
                  </h5>
                  <div class="col s12 m4 l2 center-align valign duration-block">
                    <div class="duration-tag duration-estimate-short">Short</div>
                  </div>
                </div>
                <p class="comment-text">
                  I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.
                </p>
              </div>
              <div class="card-action comment-card">
                <div class="row">
                  <div class="col s3 m3 l3">
                    <p>$500</p>
                  </div>
                  <div class="col s3 m3 l3">
                    <p>April 22, 2016 6:30pm</p>
                  </div>
                  <div class="col s3 m3 l3">
                    <p>4 / 5</p>
                  </div>
                  <div class="col s3 m3 l3">
                    <p><%= link_to "Dan Winter", "#", class: "commenter-link" %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- End of card -->
    </div>
  </div>
</div>
