<div class="container">
  <div class="row valign-wrapper">
    <div class="col s12 m12 l4">
      <div class="row job-lister-image valign">
        <%= image_tag @user.file_upload.url(:medium), class: "circle"%>
      </div>
    </div>
    <div class="col s12 m12 l8">
      <div class="row no-bottom-margin">
        <h2><%= @user.full_name %></h2>
      </div>
      <div class="row">
        <p class="profile-email"><a href="mailto:toni@example.com"><%= @user.email_address %></a></p>
      </div>
      <div class="row no-bottom-margin location-rating-row">
        <div class="col s12 m7 l7">
          <h5><%= @user.location %></h5>
        </div>
        <div class="col s12 m5 l5">
          <h5><%= @user.rating %></h5>
        </div>
      </div>
      <div class="row">
        <p class="bio no-top-margin profile-bio"><%= @user.bio %></p>
      </div>
    </div>
  </div>
  <div class="row no-bottom-margin">
    <h3 class="comments-label">Comments</h3>
  </div>
  <div class="row tab-border">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active profile-tab" href="#previous-jobs">Previous Jobs</a></li>
        <% if @user.lister? %>
          <li class="tab col s3"><a href="#previous-listings">Previous Listings</a></li>
        <% end %>
        <div class="indicator blue" style="z-index:1"></div>
      </ul>
    </div>

    <div id="previous-jobs" class="col s12 tab-content">
      <% if @user.received_comments_for_completed_jobs.any? %>
        <% @user.received_comments_for_completed_jobs.each do |comment| %>
          <%= render partial: "comment", locals: { comment: comment } %>
        <% end %>
      <% else %>
        <h5>This user has not completed any jobs</h5>
      <% end %>
    </div>

    <% if @user.lister? %>
      <div id="previous-listings" class="col s12">
        <% if @user.received_comments_for_completed_listings.any? %>
          <% @user.received_comments_for_completed_listings.each do |comment| %>
            <%= render partial: "comment", locals: { comment: comment } %>
          <% end %>
        <% else %>
          <h5>This user has no job listings that are complete</h5>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
