<div class="row">
  <aside class="col s12 m3 l3">
    <div class="category-dropdown mobile-category-dropdown">
      <h3 class="choose-category-title">Choose a Category</h3>
      <div class="input-field">
        <%= select_tag :categories,
                       options_from_collection_for_select(@categories,
                                                          "id",
                                                          "name",
                                                          selected: @category.id),
                       class: "category-select" %>
      </div>
    </div>
    <ul class="category-list">
      <% @categories.each do |category| %>
        <a href="/categories/<%= category.slug %>">
          <li class="category-list-item"><%= category.name %></li>
        </a>
      <% end %>
    </ul>
  </aside>
  <div class="col s12 m9 l9 category-content">
    <header class="row">
      <div class="col s12 m12 l12 no-bottom-margin">
        <h2 class="category-name"><%= @category.name %></h2>
      </div>
    </header>
    <section class="row">
      <div class="col s12 m12 l12 left-align">
        <% if @category.jobs_open_for_bidding.empty? %>
          <h5>No Jobs Open For Bidding In This Category</h5>
        <% else %>
          <%= will_paginate @jobs %>
            <% @jobs.each do |job| %>
              <%= render partial: "job", locals: { job: job } %>
            <% end %>
          <%= will_paginate @jobs %>
        <% end %>
      </div>
    </section>
  </div>
</div>
