<head>
  <title>Freelancer</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Amatic+SC" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Rokkitt:700" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Hind:400,300,500" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= favicon_link_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
