<nav>
  <div class="nav-wrapper" >
    <%= link_to "Freelancer", root_path, class: "brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- DESKTOP NAV -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <% if current_admin? %>
        <li class="right-align">
          <%= link_to "My Dashboard (admin)", admin_dashboard_path(current_user.slug) , class: "login_confirm"%>
        </li>
      <% elsif current_artist? %>
        <li class="right-align">
          <%= link_to "My Dashboard (poster)", dashboard_path(current_user.slug) , class: "login_confirm"%>
        </li>
      <% elsif current_user %>
        <li class="right-align">
          <%= link_to "My Dashboard (contractor)", dashboard_path(current_user.slug) , class: "login_confirm"%>
        </li>
      <% end %>


      <% if session[:user_id] %>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>

      <% if current_admin? %>
        <li><%= link_to "Browse by Poster", artists_path %></li>
        <li><%= link_to "Browse by Category", categories_path %></li>
      <% else %>
        <li><%= link_to "Browse by Poster", artists_path %></li>
        <li><%= link_to "Browse by Category", categories_path %></li>
      <% end %>
    </ul>

    <!-- MOBILE NAV -->
    <ul class="side-nav" id="mobile-demo">
      <li><strong><%= link_to "Freelancer", root_path %></strong></li>

      <% if current_admin? %>
        <li><%= link_to "Browse by Poster", artists_path %></li>
        <li><%= link_to "Browse by Category", categories_path %></li>
      <% else %>
        <li><%= link_to "Browse by Poster", artists_path %></li>
        <li><%= link_to "Browse by Category", categories_path %></li>
      <% end %>

      <% if current_admin? %>
        <li>
          <%= link_to "Dashboard (#{current_user.first_name}: admin)", admin_dashboard_path(current_user.slug) , class: "login_confirm"%>
        </li>
      <% elsif current_user %>
        <li>
          <%= link_to "Dashboard (#{current_user.first_name})", dashboard_path(current_user.slug) , class: "login_confirm"%>
        </li>
      <% end %>

      <% if session[:user_id] %>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
