<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>

  <body>
    <%= render partial: "layouts/navbar" %>

    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: "flash_#{type}" %>
    <% end %>

  <div class="container center-align">
    <%= yield %>
  </div>

  <%= render partial: "layouts/javascripts" %>

  <script type="text/javascript">
    $( document ).ready(function(){
      $(".button-collapse").sideNav();
    })
  </script>
  </body>
</html>
