
<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body class="landing_page">

    <%= render partial: "layouts/navbar" %>

    <div class="container center-align">
      <%= yield %>
    </div>

    <%= render partial: "layouts/javascripts" %>
    <%= render partial: "layouts/homepage_javascript" %>
  </body>
</html>
